body {
  background: linear-gradient(180deg, #ebe9e7, #cac9c5);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center; /* Центрирование контента по горизонтали */
  align-items: center; /* Центрирование контента по вертикали */
  height: 100vh;
}
.header-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center; /* Выровнять формы по центру */
  align-items: center;
  gap: 100px; /* Пробел между формами */
  padding: 20px;
}
h4 {
  color: #8b8b8b;
}
.auth-box,
.form-container {
  width: 100%;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auth-box {
  background: linear-gradient(180deg, #8f409f, #3a1254);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
  height: 300px;
  border-radius: 30px;
}
.user-label {
  width: 200px;
  background: linear-gradient(90deg, #562168, #562165);
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
}

.user-label label {
  display: flex;
  align-items: center;
}
.auth-box p {
  margin-bottom: 25px;
  font-size: 20px;
}
.auth-box h2 {
  margin-bottom: 10px;
  font-size: 32px;
}

.auth-box button {
  min-width: 120px;
  background-color: rgba(231, 51, 212, 0.26);
  border: none;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.auth-box button:hover {
  background-color: #6b2b99;
}

.form-container {
  padding: 30px;
  border-radius: 15px;
  width: 450px;
}

.form-group {
  width: 450px;
  background-color: white; /* Белый фон для каждого блока */
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px; /* Скругление углов */
  padding: 15px; /* Отступ внутри блока для улучшения внешнего вида */
}
.form-separator {
  border: none;
  border-top: 2px solid rgba(194, 193, 189, 0.85);
  margin: 30px 0px; /* Отступы сверху и снизу */
  width: 100%;
}
.space_password {
  border: none;
  border-top: 0px;
  margin: 15px 0px; /* Отступы сверху и снизу */
  width: 100%;
}

.form-group label {
  font-weight: 900;
  margin-bottom: 0px; /* Отступ между заголовком и полем ввода */
  font-size: 20px;
  color: #000;
}

.form-group input {
  width: 100%;
  padding: 10px 40px 10px 0; /* Отступы, чтобы оставить место для иконки */
  border: none;
  border-bottom: 2px solid #ccc; /* Полоса под полем ввода */
  background-color: transparent;
  font-size: 15px;
  outline: none; /* Убираем подсветку при фокусе */
}
.form-group input:focus {
  border-bottom: 2px solid #8f409f; /* Изменение цвета полосы при фокусе */
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.input-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #a3a3a3;
}

.create-account-button {
  width: 320px;
  background-color: #5e1c88;
  border: none;
  color: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

.create-account-button:hover {
  background-color: #4d1670;
}

header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

header img {
  width: 100px; /* Размер логотипа */
}
